:root{
  --main: #ee7700;
  --main-rgb: 238, 119, 0;
  --green: #00bb00;
  --green-rgb: 0, 187, 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: calc(100vh - 32px);
  padding: 10px 10px 40px;
}
